{% extends "base.html.twig" %}
{% block title %} Symfony Calculator App {% endblock %}
{% block body %}
<h1>Calculator</h1>
<form method="get" action="{{path("calc")}}">
<label for="number1">First number:  </label>
<input type="text" name="number1">
<br>
<label for="number2">Second number:  </label>
<input type="text" name="number2">
<input type="submit" name="submit"> 
</form>
<table class="table" border="1">
    <thead>
        <tr>
            <th>Calculation</th>
            <th>Value</th>
        </tr>
    </thead>
 {% for key, value in calculations %}
    <tr>
        <td> {{key|title}}</td>
        <td>{{value}}</td>
    </tr>
{% endfor %} 
</table>
{% endblock %}