{% extends "base.html.twig" %}

{% block body %}
<h2> Create a book </h2>
<div class="container">
{{ form_start(form) }}
{{ form_widget(form) }}
<button>Save</button>
<button id="backBtn"><a href="{{ path ("booksite")}}">Back</button>
{{ form_end(form) }}
</div>
{% endblock %}